.filpCard {
  position: relative;
  width: 450px;
  height: 200px;
  margin: 0 auto;
  perspective: 1000px;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; /* Safari */
  -webkit-transform: translate3d(0, 0, 0); /* Safari */
  transform: translate3d(0, 0, 0);
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 4px rgba(150, 150, 150, 0.8);
  background-color: #ffffff;
  cursor: pointer;
}

.filpCard.flipped {
  transform: rotateY(180deg);
}

@media screen and (hover: hover) {
  .filpCard:hover {
    transform: rotateY(180deg);
  }
}

.filpCardFront,
.filpCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform: rotateY(0deg); /* For Firefox */
}

.filpCardFront {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
}

.filpCardBack {
  display: flex;
  padding: 8px 16px;
  overflow-y: hidden;
  flex-direction: column;
  line-height: 1.3;
  transform: rotateY(-180deg);
}

@media screen and (max-width: 480px) {
  .filpCard {
    width: 280px;
  }

  .filpCardBack {
    font-size: 13px;
  }
}
