.header {
  width: 100%;
  margin-bottom: var(--header-margin-b);
}

.linksList {
  display: flex;
  height: var(--header-height);
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.linksList .item:first-child {
  margin-right: 15px;
}

.linksList .item a,
.linksList .item a:visited {
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: none;
}

.linksList .item a:hover,
.linksList .item a:active {
  color: #6db2eb;
}

.linksList .item a.active {
  text-decoration: underline;
}
