@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1663a1;
  --text-primary-color: #212121;

  --header-height: 65px;
  --header-margin-b: 32px;
}

body {
  font-family: 'Open Sans', 'Ariel', 'Helvetica Neue', sans-serif;
  background-color: #fefdfd;
}
